.content-text {
  font-family: "Graphik", sans-serif;
}

h1 {
  font-size: 1.75rem;
  margin: 2rem 0;
}

.key-info {
  width: calc(100% - 30px);
  height: auto;
  background-color: rgba(234, 179, 8, .14);
  padding: 15px;
}

.content {
  width: calc(100% - 36px);
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 15px;
  margin: 15px auto;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.anchors {
  width: 100%;
  height: auto;
  background-color: rgba(187, 239, 253, 0.3);
  padding: 15px 0;
}

.anchor-part {
  margin: 7px 15px;
  gap: 5px;
}

.highlight {
  background-color: rgba(255, 229, 100, 0.2);
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

.base-container {
  width: 1000px;
}